<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href = "@{/css/bootstrap.min.css}" rel="stylesheet">

<body>
<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="card m-4 rounded-3">
                <div class="card-body  shadow">
                    <h5 class="card-title">Event Title 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis libero ac ante aliquet, et eleifend velit condimentum. </p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>